[submodule "dependencies/persistence-sdk"]
	path = dependencies/persistence-sdk
	url = https://github.com/persistenceOne/persistence-sdk.git
	branch = v2.1.1
[submodule "dependencies/cosmos-sdk"]
	path = dependencies/cosmos-sdk
	url = https://github.com/cosmos/cosmos-sdk.git
	branch = v0.47.4
[submodule "dependencies/pstake-native"]
	path = dependencies/pstake-native
	url = https://github.com/persistenceOne/pstake-native.git
	branch = v2.2.3
[submodule "dependencies/wasmd"]
	path = dependencies/wasmd
	url = https://github.com/CosmWasm/wasmd.git
